/* FONTS */
@font-face {
  font-family: 'Noto Sans JP';
  src: url("assets/fonts/NotoSansJP-Thin.otf");
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("assets/fonts/NotoSansJP-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("assets/fonts/NotoSansJP-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("assets/fonts/NotoSansJP-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("assets/fonts/NotoSansJP-Bold.otf");
  font-weight: 700;
}

/* VARIABLE */
:root {
  --font-main: 'Noto Sans JP', sans-serif;
  --color-light: #ffffff;
}

/* COMMON */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {text-decoration: none;}

ul {list-style: none;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1440px;
  width: 100%;
  
}

.row {
  display: flex;
}

.title {
  position: absolute;
  top: 70%;
  left: 2rem;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--color-light);
  transform: rotate(270deg);
  transform-origin: 0 0;
}

.title::before, 
.title::after {
  content: "_";
}

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px = 1rem */
  scroll-behavior: smooth;
} 

body {
  font-size: 1.6rem;
  font-family: var(--font-main);
}

/* HEADER */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 3rem;
}

.header-nav > ul {
  justify-content: flex-end;
}

.header-nav__link {
  font-size: 2rem;
  color: var(--color-light);
  margin: 2rem;
}

/* MAIN */

/* about */

#about {
  width: 100%;
  padding-top: 10rem;
  background-image: url("assets/images/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-img {
  max-width: 320px;
  margin: 0rem 10rem;
}

.about-name {
  font-size: 5rem;
  color: var(--color-light);
}