* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {list-style: none;}

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px = 1rem */
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 1170px;
  max-width: 100%;
}